<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
 <link href="/public/admin/assets/css/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="/public/admin/css/style.css"/>       
        <link rel="stylesheet" href="/public/admin/assets/css/ace.min.css" />
        <link rel="stylesheet" href="/public/admin/assets/css/font-awesome.min.css" />
        <link href="/public/admin/Widget/icheck/icheck.css" rel="stylesheet" type="text/css" />
		<!--[if IE 7]>
		  <link rel="stylesheet" href="/public/admin/assets/css/font-awesome-ie7.min.css" />
		<![endif]-->
        <!--[if lte IE 8]>
		  <link rel="stylesheet" href="/public/admin/assets/css/ace-ie.min.css" />
		<![endif]-->
	    <script src="/public/admin/js/jquery-1.9.1.min.js"></script>
        <script src="/public/admin/assets/js/bootstrap.min.js"></script>
<title>添加产品分类</title>
</head>
<body>
<div class="type_style">
 <div class="type_title">产品类型信息</div>
  <div class="type_content">
   <div class="Operate_btn">
	<a href="/index.php/admin/product/productCategoryAdd/parentid/<?php echo $category['id'];?>" class="btn  btn-warning"><i class="icon-edit align-top bigger-125"></i>新增子类型</a>
	<!-- <a href="javascript:ovid()" class="btn  btn-success"><i class="icon-ok align-top bigger-125"></i>禁用该类型</a> -->
	<a href="javascript:;" onclick="member_del(this,<?php echo $category['id']; ?>)" class="btn  btn-danger"><i class="icon-trash   align-top bigger-125"></i>删除该类型</a>
  </div>
  <form action="/index.php/admin/product/productCategoryUpdata/" method="post" class="form form-horizontal" id="form-user-add" enctype="multipart/form-data">
    <div class="Operate_cont clearfix">
      <label class="form-label"><span class="c-red">*</span>分类名称：</label>
      <div class="formControls ">
        <input type="text" class="input-text" value="<?php echo $category['name']; ?>" placeholder="" id="category_name" name="name">
      </div>
    </div>
	<div class="Operate_cont clearfix  form-group">
		<label class="form-label col-2" for="form-field-1"><i>*</i>分类图片： </label>
		<div class="formControls ">
			<input type="file" id="id-input-file-1"  name="img"/><?php if($category['img']){ ?><a href="<?php echo IMG_URL.$category['img'];?>" targat="_blank">【预览图片】</a><?php } ?>
		</div>
    </div>
        <div class="Operate_cont clearfix">
      <label class="form-label"><span class="c-red">*</span>排序：</label>
      <div class="formControls ">
        <input type="text" class="input-text" value="<?php echo $category['order']; ?>" placeholder="" id="category_order" name="order">
      </div>
    </div>
	<div class="Operate_cont clearfix">
      <label class="form-label"><span class="c-red">*</span>显示状态：</label>
      <div class="formControls ">
        <input name="status" type="radio" <?php if($category["status"]==1){ echo "checked='checked'"; }?> value="1" />是 <input name="status" type="radio" <?php if($category["status"]==0){ echo "checked='checked'"; }?> value="0" />否
      </div>
    </div>
	<div class="Operate_cont clearfix">
      <label class="form-label"><span class="c-red">*</span>导航显示：</label>
      <div class="formControls ">
        <input name="is_nav" type="radio" <?php if($category["is_nav"]==1){ echo "checked='checked'"; }?> value="1" />是 <input name="is_nav" type="radio" <?php if($category["is_nav"]==0){ echo "checked='checked'"; }?> value="0" />否
      </div>
    </div>
    <div class="Operate_cont clearfix">
    <label class="form-label">备注：</label>
    <div class="formControls">
    <textarea name="description" rows="" class="textarea" placeholder="说点什么..."><?php echo $category['description']; ?></textarea>
     <p class="textarea-numberbar"><em class="textarea-length">0</em>/400</p>
    </div>
    </div>
    <div class="">
     <div class="" style=" text-align:center">
		<input type="hidden" id="cat_id" name="cat_id" value="<?php echo $category['id'];?>">
      <input class="btn btn-primary radius" name="dosubmit" type="submit" value="提交">
      </div>
    </div>
  </form>
  </div>
</div> 
</div>
<script type="text/javascript" src="/public/admin/Widget/icheck/jquery.icheck.min.js"></script> 
<script type="text/javascript" src="/public/admin/Widget/Validform/5.3.2/Validform.min.js"></script>
<script type="text/javascript" src="/public/admin/assets/layer/layer.js"></script>
<script type="text/javascript" src="/public/admin/js/H-ui.js"></script> 
<script type="text/javascript" src="/public/admin/js/H-ui.admin.js"></script>
<script type="text/javascript">
$(function(){
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
	
	$("#form-user-add").Validform({
		tiptype:2,
		callback:function(form){
			form[0].submit();
			var index = parent.layer.getFrameIndex(window.name);
			parent.$('.btn-refresh').click();
			parent.layer.close(index);
		}
	});
});
/*类目-删除*/
function member_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			type: "post",
			url: "/index.php/admin/product/softDeleltCategory",
			data: "is_ajax=1&id="+id,
			dataType: "json",
			success: function (data) {
				if (data.status == 1004) {
					layer.msg('删除失败！', {icon: 5, time: 1000});
				} else {
					window.location.href="/index.php/admin/product/productCategoryAdd/";
				}
			}
		});
	});
}
</script>
</body>
</html>