
*{box-sizing: border-box;}
body{font-family:"微软雅黑";
	/*color: "|"灰  #c8c8c8; 边框 #ededed; 字体灰 #8c8c8c; 枣红色 #ca151e; 字体浅灰 #bbbbbb*/
	font-size:14px;
	margin:0;
	padding:0;
	border:none;
}
html,div,p,span,form,legend,fieldset,h1,h2,h3,h4,h5,h6,hr,ul,li,ol,dl,dd,dt,nr{
	margin:0;padding:0;
	border:none;
}
button,img,a,input,textarea,th,td,table,lable{
	margin:0;padding:0;
}
a{text-decoration:none;color:#666666}
ul,li,ol,dl,dd,dt{list-style:none}
img{border:none}
/*.clear{height:0;overflow:hidden;font-size:0;clear:both}*/
span,font{display:inline-block;}
a{display:inline-block;}
html,body{width:100%;height:100%}

.header{width: 100%;height:146px;margin:0 auto;}
.header_0{width: 100%;height:30px;background:#3e3a39;position: relative;z-index: 999;}
.header_1{width: 1110px;height:30px;margin:0 auto;background:#3e3a39;}
.header_1_1{float:left;height:30px;}
.header_1_1 span{color:#FFFFFF;line-height: 30px;}
.header_1_2{float:right;height:30px;}
.header_1_2 a{color:#FFFFFF;line-height: 30px;padding-left:26px;}

.header_1_2 .header_1_2_a {
	position: relative;
	top:2px;
}
.header_1_2 .header_1_2_1 img{
	float:right;
	margin-top:8px;
}
.header_1_2 .header_1_2_a span {
	font-size: 12px;
	background: url("../images/xiao.png") no-repeat;
	width: 12px;
	height: 12px;
	position: absolute;
	top: -1px;
	right: -6px;
	line-height: 12px;
	text-align: center;
}


.header_2{width: 1110px;height:117px;margin:0 auto;background:#fff;position: relative;z-index: 999;}
.header_2 .header_2_1{width: 209px;height:116px;background:#;float:left;margin-right: 60px;}
.header_2 .header_2_1 .img1{float:left;width: 209px;margin-top: 20px;}
.header_2 .header_2_2{width: 600px;height: 40px;background:#;float:left;margin-top: 56px;}
.header_2 .header_2_2 .header_2_2_input{float:left;height:40px;}
.header_2 .header_2_2 .header_2_2_input input{width: 479px;height:40px;border: 1px #c9c9c9 solid;border-right:none;float:left;}
.header_2 .header_2_2 .header_2_2_input span{float:left;width:120px;height:40px;background:#c30d23;text-align: center;line-height: 40px;color:#fff;font-size:20px;cursor:pointer;}
.header_2_2_cart{width: 135px;height:40px;border:1px #c9c9c9 solid;float:left;cursor:pointer;margin: 56px 0 0 50px;}
.header_2_2_cart img{width:24px;float:left;margin:8px 8px 0 6px;}
.header_2_2_cart span{float:left;line-height: 40px;font-size: 13px;}
.header_2_2_cart font{float:left;width:16px;height:16px;background: url(../images/椭圆-大.png);text-align: center;line-height: 16px;color:#fff;font-size:12px;margin:11px 0 0 6px;}


.header_30{width: 100%;height:42px;background:#c30d23;margin:0 auto;}
.header_3{width: 1110px;height:42px;margin:0 auto;background:#c30d23;position: relative;overflow: hidden;z-index: 999;}
.header_3 .header_3_a1{float:left;padding:0 30px 0 30px;line-height: 42px;color:#fff;font-size: 18px;}
.header_3 .a1{padding-left: 36px}


/*导航的轮播图*/

.header_30 .show {
	position: absolute;
	width: 1110px;
/*	height: 160px;*/
	background: #fff;
	left:50%;
	margin-left: -555px;
	top: 28px;
	z-index: 100;
	overflow: hidden;
}
.header_30 .show ul{
	padding: 0 9px;
	width: 1000%;
	position: relative;
	left: 0;
}

.header_30 .show ul li {
	width: 140px;
	height: 140px;
	float: left;
	margin:10px 21px ;
	border-radius: 10px;
	overflow: hidden;
	cursor: pointer;
	position: relative;
}

.header_30 .show ul li img {
	width: 100%;
	height: 100%;
}

.header_30 .show ul li span{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 40px;
	background: rgba(0,0,0,.5);
	text-align: center;
	line-height: 40px;
	font-size: 24px;
	color: #FFFFFF;
}

.header_30 .show .show_div{
	/*position: absolute;
	top: 0;
	left: 0;*/
}
.header_30 .show .show_div a{
	position: absolute;
	height: 160px;
	width: 50px;	
	z-index: 990;
	margin-right: 0;
	top: 0;
}
.header_30 .show .show_div a.prev{
	background: url(../images/left1_1.png) no-repeat;
	left: 0;
}
.header_30 .show .show_div a.next{
	background: url(../images/right_1.png) no-repeat;
	right: 0;
}


/*轮播*/
.banner{width: 100%;height:444px;background:#ce163f;margin:0 auto;}
.banner .banner_img{width: 1110px;height:444px;margin:0 auto;}
.banner img{width: 1110px;height:444px;margin:0 auto;}
.swiper-container {
    width: 1110px;
    height: 444px;
}  


.nav{width: 100%;height:auto;margin:0 auto;}
.nav .nav_1{width: 1110px;height:102px;margin:0 auto;position:relative;}
.nav .nav_1 div{width: auto;height:102px;float:left;}
.nav .nav_1 div img{width:49px;height:49px;float:left;margin:15px 0 16px 0;}
.nav .nav_1 div ul{width:110px;float:left;margin-top:12px;margin-left:16px;}
.nav .nav_1 div ul span{width: 100%;font-size: 20px;line-height: 32px;}
.nav .nav_1 div ul font{width: 100%;line-height: 24px;}
.nav .nav_1 .nav_1_3{float:right;margin-right:36px;}
.nav .nav_1 .nav_1_1{margin-left:36px;}
.nav .nav_1 .nav_1_2{width: 180px;margin:auto;position:absolute;left:0;right:0;}


/*<!--内容第二部分   让消费变财富-->*/	
.nav_2{width: 1110px;height:auto;overflow:hidden;margin:0 auto;padding-top:32px;padding-bottom:32px;overflow: hidden;}
.nav_2 .nav_2_1{width:100%;height:50px;}
.nav_2 .nav_2_1 span{font-weight: bold;line-height:30px;margin-right:26px;float:left;font-size: 30px;color: #000000;}
.nav_2 .nav_2_1 font{height:28px;line-height:40px;float:left;font-size: 14px;}
.nav_2 .nav_2_2{width: 1110px;height:366px;}
.nav_2 .nav_2_2 .nav_2_2_1{width: 364px;height:364px;background:#e2e2e2;float:left;}
.nav_2 .nav_2_2 .nav_2_2_2{width: 364px;height:364px;background:#e2e2e2;margin:0 9px 0 9px;float:left;}
.nav_2 .nav_2_2 .nav_2_2_3{width: 363px;height:366px;float:left;}
.nav_2 .nav_2_2 .nav_2_2_3 ul .img1{width: 363px;height:179px;border:1px #cccccc solid;margin-bottom:7px;position:relative;}
.nav_2 .nav_2_2 .nav_2_2_3 ul .img2{width: 363px;height:179px;border:1px #cccccc solid;position:relative;}
.nav_2 .nav_2_2 .nav_2_2_3 ul .img1 span{font-size:18px;width:170px;padding:58px 0 10px 20px;font-weight: bold;float:left;}
.nav_2 .nav_2_2 .nav_2_2_3 ul .img1 font{width: 100%;padding-left:20px;font-size: 14px;float:left;}
.nav_2 .nav_2_2 .nav_2_2_3 ul .img1 img{width: 132px;margin:auto;position:absolute;top:0;bottom:0;right:22px;}
.nav_2 .nav_2_2 .nav_2_2_3 ul .img2 span{font-size:18px;width:170px;padding:60px 0 10px 20px;font-weight: bold;float:left;}
.nav_2 .nav_2_2 .nav_2_2_3 ul .img2 font{width: 100%;padding-left:20px;font-size: 14px;float:left;}
.nav_2 .nav_2_2 .nav_2_2_3 ul .img2 img{margin:auto;position:absolute;top:0;bottom:0;right:15px;}


/*<!--内容第三部分  品牌特惠-->*/	
.nav_3{width: 1110px;height:auto;overflow:hidden;margin:0 auto;padding-bottom:32px;}
.nav_3 .nav_2_1{width:1110px;height:50px;}
.nav_3 .nav_2_1 span{font-weight: bold;line-height:30px;margin-right:26px;float:left;font-size: 30px;color: #000000;}
.nav_3 .nav_2_1 font{height:28px;line-height:40px;float:left;font-size: 14px;}
.nav_3 .nav_3_0{width: 1110px;height:auto;overflow:hidden;}
.nav_3 .nav_3_0 img{cursor:pointer;width:100%;height:375px;float:left;margin-bottom:10px;}
.nav_3 .nav_3_1{width: 542px;height:314px;float:left;margin:0 11px 11px 0;background:#e2e2e2;overflow:hidden;position:relative;}
.nav_3 .nav_3_1 img{width:100%;height:100%;}
.nav_3 #nav_3_1_hidden{width: 460px;height:270px;margin:auto;left:0;top:0;right:0;bottom:0;position:absolute;border:1px #797979 solid;background:#fff;display:none;}
.nav_3 #nav_3_1_hidden ul{width: 100%;height:100%;}
.nav_3 #nav_3_1_hidden ul .nav_3_1_hidden1{border-bottom:1px #797979 dashed;width: 100%;height:214px;}
.nav_3 #nav_3_1_hidden ul .nav_3_1_hidden1 font{float:left;width: 153px;height:214px;border:none;position:relative;}
.nav_3 #nav_3_1_hidden ul .nav_3_1_hidden1 font img{width:86px;height:170px;border:none;position:absolute;margin:auto;left:0;top:10px;right:0;}
.nav_3 #nav_3_1_hidden ul .nav_3_1_hidden1 font span{width:100%;text-align: center;position:absolute;bottom:13px;}
.nav_3 #nav_3_1_hidden ul .nav_3_1_hidden2 a{padding:8px 42px;background:#cc0000;float:right;margin:9px 45px 0 0;color:#fff;border-radius:6px;}
.nav_3 #nav_3_1_hidden ul .nav_3_1_hidden2 img{width:120px;height:52px;float:left;margin:2px 0 0 26px;}


/*<!--内容第四部分   热卖商品-->*/
.nav_4{width: 1132px;height:auto;overflow:hidden;margin:0 auto;padding-bottom:32px;}
.nav_4 #nav_4{overflow: hidden;}
.nav_4 .nav_2_1{width:1110px;height:50px;margin:0 auto;}
.nav_4 .nav_2_1 span{font-weight: bold;line-height:30px;margin-right:26px;float:left;font-size: 30px;color: #000000;}
.nav_4 .nav_2_1 font{height:28px;line-height:40px;float:left;font-size: 14px;}
.nav_4 .nav_2_1 a{float:right;line-height:38px;margin-right:16px;}
.nav_4 .nav_4_1{width: 270px;height:360px;float:left;margin:0 0 30px 10px;position:relative;text-align: center;}
.nav_4 .nav_4_1 .nav_4_1_img{width:270px;height:270px;position:relative;overflow:hidden;}
.nav_4 .nav_4_1 .nav_4_1_img img{cursor:pointer;width:270px;position:absolute;margin:auto;left:0;top:0;right:0;bottom:0;}
.nav_4 .nav_4_1 .nav_4_1_text{width:270px;height:90px;border:1px #c9c9c9 solid;border-top:none;}
.nav_4 .nav_4_1 span{cursor:pointer;width:220px;text-align: center;padding-top:18px;line-height:16px;}
.nav_4 .nav_4_1 font{width:100%;left:0;bottom:10px;color:#d92f00;line-height: 14px;text-align: center;position:absolute;}


/*<!--内容第五部分     分类-->*/
.nav_5{width: 1132px;height:auto;overflow:hidden;margin:0 auto;padding-bottom:32px;}
.nav_5 .nav_2_1{width:1110px;height:50px;margin:0 auto;}
.nav_5 .nav_2_1 span{font-weight: bold;line-height:30px;margin-right:26px;float:left;font-size: 30px;color: #000000;}
.nav_5 .nav_2_1 font{height:28px;line-height:40px;float:left;font-size: 14px;}
.nav_5 .nav_2_1 a{float:right;line-height:38px;margin-right:16px;}
.nav_5 .nav_5_1{width:1110px;height:auto;margin:0 auto;}
.nav_5 .nav_5_1 a{width:1110px;float:left;padding-bottom:30px;}
.nav_5 .nav_5_1 a img{width:100%;height:375px;float:left;}
.nav_5 .nav_4_1{width: 270px;height:360px;float:left;margin:0 0 30px 10px;position:relative;text-align: center;}
.nav_5 .nav_4_1 .nav_4_1_img{width:270px;height:270px;position:relative;overflow:hidden;}
.nav_5 .nav_4_1 .nav_4_1_img img{cursor:pointer;width:270px;position:absolute;margin:auto;left:0;top:0;right:0;bottom:0;}
.nav_5 .nav_4_1 .nav_4_1_text{width:270px;height:90px;border:1px #c9c9c9 solid;border-top:none;}
.nav_5 .nav_4_1 span{cursor:pointer;width:220px;text-align: center;padding-top:18px;line-height:16px;}
.nav_5 .nav_4_1 font{width:100%;left:0;bottom:10px;color:#d92f00;line-height: 14px;text-align: center;position:absolute;}


/*<!--内容第六部分   猜你喜欢-->*/
.nav_6{width: 1132px;height:auto;overflow:hidden;margin:0 auto;padding-bottom:34px;}
.nav_6 .nav_2_1{width:1110px;height:50px;margin:0 auto;}
.nav_6 .nav_2_1 span{font-weight: bold;line-height:30px;margin-right:26px;float:left;font-size: 30px;color: #000000;}
.nav_6 .nav_2_1 font{height:28px;line-height:40px;float:left;font-size: 14px;}
.nav_6 .nav_4_1{width: 270px;height:360px;float:left;margin:0 0 30px 10px;position:relative;text-align: center;}
.nav_6 .nav_4_1 .nav_4_1_img{width:270px;height:270px;position:relative;overflow:hidden;}
.nav_6 .nav_4_1 .nav_4_1_img img{cursor:pointer;width:270px;position:absolute;margin:auto;left:0;top:0;right:0;bottom:0;}
.nav_6 .nav_4_1 .nav_4_1_text{width:270px;height:90px;border:1px #c9c9c9 solid;border-top:none;}
.nav_6 .nav_4_1 span{cursor:pointer;width:220px;text-align: center;padding-top:18px;line-height:16px;}
.nav_6 .nav_4_1 font{width:100%;left:0;bottom:10px;color:#d92f00;line-height: 14px;text-align: center;position:absolute;}


.nav_7{width: 100%;height:300px;margin:0 auto;border-top:1px #d7d7d7 solid;}
.nav_7 ul{width: 1110px;height:252px;margin:0 auto;margin-top:48px;}
.nav_7 ul li{width: 370px;height:204px;float:left;}
.nav_7 ul .nav_7_1{text-align: center;background:;}
.nav_7 ul .nav_7_1 span{width: 100%;padding:0 0 28px 0;text-align: center;font-size:20px;line-height: 20px;}
.nav_7 ul .nav_7_1 h3{width: 100%;text-align: center;padding-bottom:20px;}
.nav_7 ul .nav_7_1 font{width: 100%;text-align: center;line-height: 16px;padding-bottom:36px;font-size:16px;}
.nav_7 ul .nav_7_1 a{padding:6px 25px 6px 22px;border:1px #797979 solid;}
.nav_7 ul .nav_7_2{text-align: center;border:1px #d7d7d7 solid;border-top:none;border-bottom:none;float:left;}
.nav_7 ul .nav_7_2 span{width: 100%;padding:0 0 18px 0;text-align: center;font-size:20px;line-height: 20px;}
.nav_7 ul .nav_7_2 font{width: 286px;text-align: left;font-size:16px;line-height: 21px;}
.nav_7 ul .nav_7_3{text-align: center;}
.nav_7 ul .nav_7_3 span{width: 100%;text-align: center;line-height: 20px;font-size:20px;}
.nav_7 ul .nav_7_3 font{width: 100%;font-size:14px;}
.nav_7 ul .nav_7_3 a{padding:20px 0 8px 0;}


.footer{width: 100%;height:201px;margin:0 auto;border-bottom:1px #797979 solid;background:#414141;}
.footer .footer_1{width: 1110px;padding:34px 0 34px 0;background:#414141;margin-left:172px;margin:0 auto;overflow: hidden;}
.footer .footer_1 ul li{width: 370px;height:52px;float:left;text-align: center;color:#fff;}
.footer .footer_1 ul li span{line-height: 52px;font-size:20px;overflow: hidden;}
.footer .footer_1 ul li img{width: 52px;margin:0 16px 0 0;}


.footer .footer_2{width: 100%;height:80px;background:#414141;margin:0 auto;border-top:1px #cccccc solid;}
.footer .footer_2{width: 1110px;height:80px;background:#414141;text-align: center;color:#fff;margin:0 auto;}
.footer .footer_2 span{width: 530px;text-align: center;position:relative;}
.footer .footer_2 span a{padding:24px 11px 10px 11px;color:#fff;line-height: 14px;}
.footer .footer_2 span font{width:100%;line-height: 14px;}
.footer .footer_2 span img{position:absolute;margin:auto;bottom:0;right:-48px;}


#register{width: 100%;height:100%}
/*注册提示层*/
.tishi {
	position: absolute;
	top: 45%;
	left: 50%;
	width: 250px;
	height: 40px;
	margin: -20px 0 0 -125px;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	display: none;
}

.tishi span {
	font-size: 16px;
	display: inline-block;
	width: 100%;
	line-height: 40px;
	text-align: center;
	color: white;
}
/*弹出层*/
.menu {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 1110;
	background: rgba(0, 0, 0, 0.7);
}

#Dform {
	height: 100%;
}

#form1 {
	height: 100%;
}

.main .item,
.main .item-captcha .input-info {
	margin-bottom: 6px;
}




/*登录提示层*/			
.tishi {
	position: absolute;
	top: 45%;
	left: 50%;
	width: 250px;
	height: 40px;
	margin: -20px 0 0 -125px;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	display: none;
}			
.tishi span {
	font-size: 16px;
	display: inline-block;
	width: 100%;
	line-height: 40px;
	text-align: center;
	color: white;
}
/*弹出层*/			
.menu {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 1110;
	background: rgba(0, 0, 0, 0.7);
}			
#Dform {
	height: 100%;
}			
#form1 {
	height: 100%;
}			
.main .item,
.main .item-captcha .input-info {
	margin-bottom: 6px;
}


/*app下载*/
.app{
	background: url(../images/download.png) no-repeat;
	width: 150px;
	height: 150px;
	position: fixed;
	right: 50px;
	top: 300px;
	z-index: 999;
}
.app a{
	position: absolute;
	background: url(../images/shan.png) no-repeat;
	width: 24px;
	height: 24px;
	top:-12px;
	right: -12px;
}




