.connet {
	width: 100%;
	padding-top: 20px;
}

.connet_w {
	min-height: 650px;
	border-bottom: 2px solid #E5E5E5;
}


/*左边*/

.connet_l {
	width: 180px;
	height: 580px;
	border: 1px solid #E5E5E5;
	text-align: center;
	position: relative;
}

.connet_l .con_a {
	width: 98px;
	height: 98px;
	margin: 0 auto;
	margin-top: 30px;
	overflow: hidden;
	background-color: #f2f2f2;
	background: url(../images/头像.png) no-repeat;
}

.connet_l .con_a img {
	position: relative;
	width: 185px;
	top: 15px;
	left: 14px;
}

.connet_l .con_b {
	margin: 10px 0;
}

.con_b .con_b_1,
.con_b .con_b_2 {
	margin-bottom: 16px;
}

.con_b .con_b_3 {
	cursor: pointer;
}

.connet_l .con_b span {
	float: left;
	width: 50%;
	text-align: right;
	margin-right: 8px;
}

.connet_l .con_b img {
	float: left;
	margin-right: 8px;
	position: relative;
	top: 3px;
}

.connet_l .con_d {
	font-size: 12px;
	margin-bottom: 16px;
}

.connet_l .con_e {
	border-bottom: 1px dashed #E5E5E5;
	width: 100%;
}

.connet_l ul {
	margin-top: 25px;
	text-align: center;
}

.connet_l ul li {
	padding-bottom: 18px;
	cursor: pointer;
}

.active {
	font-weight: 700;
	color: #c11920;
}

.connet_l .con_f {
	padding: 10px;
	border: 1px solid #000;
	width: 200px;
	height: 150px;
	-ms-text-align-last: auto;
	position: absolute;
	top: 90px;
	right: -98%;
	background-color: #EBEBEB;
	display: none;
}

.connet_l .con_f p input {
	border: 1px solid #000;
}

.connet_l .con_f button {
	margin-top: 5px;
}

.connet_l .con_f #btn2 {
	margin-left: 50px;
}


/*底部*/

.nav_7 {
	width: 100%;
	margin-top: 48px;
}

.nav_7 ul {
	width: 1110px;
	margin: 0 auto;
}

.nav_7 ul li {
	height: 204px;
	float: left;
	width: 370px;
	border-right: 1px solid #E5E5E5;
}

.nav_7 ul .nav_7_1 {
	text-align: center;
}

.nav_7 ul .nav_7_1 span {
	font-size: 18px;
	display: block;
}

.nav_7 ul .nav_7_1 h3 {
	padding-top: 28px;
	font-size: 20px;
}

.nav_7 ul .nav_7_1 font {
	padding-top: 20px;
	display: block;
}

.nav_7 ul .nav_7_1 a {
	border: 1px #888888 solid;
	display: block;
	width: 100px;
	line-height: 30px;
	margin: 0 auto;
	margin-top: 36px;
	border-radius: 2px;
}

.nav_7 ul .nav_7_2 {
	text-align: center;
}

.nav_7 ul .nav_7_2 h3 {
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 18px;
}

.nav_7 ul .nav_7_2 font {
	width: 286px;
	margin: 0 auto;
	display: block;
	font-size: 16px;
	text-align: left;
	line-height: 24px;
}

.nav_7 ul .nav_7_3 {
	text-align: center;
	border-right: none;
}

.nav_7 ul .nav_7_3 span {
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 20px;
	display: block;
}

.nav_7 ul .nav_7_3 font {
	margin-top: 8px;
	display: block;
}

.footer {
	width: 100%;
	margin-top: 48px;
	background: #414141;
}

.footer .footer_a {
	border-bottom: 1px solid #888888;
}

.footer .footer_1 {
	height: 120px;
	background: #414141;
}

.footer .footer_1 ul {
	margin-left: 90px;
}

.footer .footer_1 ul li {
	margin-right: 190px;
	padding-top: 34px;
	float: left;
}

.footer .footer_1 ul li span {
	position: relative;
	top: 5px;
	font-size: 20px;
	color: #FFFFFF;
	margin-left: 16px;
}

.footer .footer_1 ul .footer_1_li {
	margin-right: 0;
}

.footer .footer_2 {
	width: 1110px;
	height: 80px;
	text-align: center;
	color: #fff;
	margin: 0 auto;
	position: relative;
	background: #414141;
}

.footer .footer_2 .footer_2_p1 {
	margin: 24px 0 10px 0;
}

.footer .footer_2 .footer_2_p1 a {
	padding: 38px 11px 12px 11px;
	color: #fff;
}

.footer .footer_2 .footer_2_p2 font {
	width: 100%;
}

.footer .footer_2 div {
	position: absolute;
	right: 230px;
	top: 3px;
}


/*头部*/

.header_0 {
	width: 100%;
	height: 30px;
	background: #3e3a39;
}

.header_1 {
	width: 1110px;
	height: 30px;
	margin: 0 auto;
	background: #3e3a39;
}

.header_1_1 {
	float: left;
	height: 30px;
}

.header_1_1 span {
	color: #FFFFFF;
	line-height: 30px;
}

.header_1_2 {
	float: right;
	height: 30px;
}

.header_1_2 a {
	color: #FFFFFF;
	line-height: 30px;
	padding-left: 26px;
}

.header_1_2 .header_1_2_a {
	position: relative;
}

.header_1_2 .header_1_2_a span {
	font-size: 12px;
	background: url("../images/椭圆-小.png") no-repeat;
	width: 12px;
	height: 12px;
	position: absolute;
	top: -2px;
	right: -2px;
	line-height: 12px;
	text-align: center;
}

.header_2 {
	width: 1110px;
	height: 116px;
	margin: 0 auto;
}

.header_2 .header_2_1 {
	width: 209px;
	height: 116px;
	margin-right: 60px;
	float: left;
}

.header_2 .header_2_1 .img1 {
	float: left;
	width: 209px;
	height: 76px;
	margin-top: 20px;
}

.header_2 .header_2_2 {
	width: 600px;
	height: 40px;
	float: left;
	margin-top: 56px;
}

.header_2 .header_2_2 .header_2_2_input {
	float: left;
	height: 40px;
}

.header_2 .header_2_2 .header_2_2_input input {
	width: 479px;
	height: 40px;
	border: 1px #c9c9c9 solid;
	border-right: none;
	float: left;
}

.header_2 .header_2_2 .header_2_2_input span {
	float: left;
	width: 120px;
	height: 40px;
	background: #c30d23;
	text-align: center;
	line-height: 40px;
	color: #fff;
	font-size: 20px;
	cursor: pointer;
}

.header_2 .header_2_2_cart {
	width: 135px;
	border: 1px #c9c9c9 solid;
	float: left;
	margin: 56px 0 0 50px;
	height: 40px;
	cursor: pointer;
}

.header_2 .header_2_2_cart img {
	width: 24px;
	float: left;
	margin: 8px 8px 0 6px;
}

.header_2 .header_2_2_cart span {
	float: left;
	line-height: 40px;
	font-size: 13px;
}

.header_2 .header_2_2_cart font {
	float: left;
	width: 16px;
	height: 16px;
	background: url(../images/椭圆-大.png);
	text-align: center;
	line-height: 16px;
	color: #fff;
	font-size: 12px;
	margin: 10px 0 0 6px;
}

.header_30 {
	width: 100%;
	height: 42px;
	background: #c30d23;
	margin: 0 auto;
	box-shadow: -2px 2px 4px rgba(0,0,0,.25);
}

.header_3 {
	width: 1110px;
	height: 42px;
	margin: 0 auto;
	background: #c30d23;
	padding-left: 36px;
	position: relative;
}

.header_3 a {
	float: left;
	padding-right: 60px;
	line-height: 42px;
	color: #fff;
	font-size: 18px;
}

.header_3 .header_3_a img {
	position: relative;
	top: -2px;
}


/*母婴下面的列表*/


/*.header_3 .show {
	position: absolute;
	width: 1530px;
	height: 166px;
	display: none;
	background: #fff;
	left: -202px;
	top: 42px;
	border: 1px #cccccc solid;
	border-top: none;
	border-bottom: none;
	z-index: 99;
}*/


/*.header_3 .show ul li {
	width: 165px;
	height: 122px;
	float: left;
	margin: 20px 18px 0 0;
	border-radius: 6px;
	overflow: hidden;
	cursor: pointer;
}

.header_3 .show ul li img {
	width: 100%;
}

.header_3 .show ul .img3 {
	margin-left: 35px;
}*/


/*猜你喜欢*/

.nav_4 .nav_2_1 {
	width: 1110px;
	margin: 20px auto;
}

.nav_4 .nav_2_1 span {
	font-weight: bold;
	margin-right: 10px;
	float: left;
	font-size: 24px;
}

.nav_4 .nav_2_1 font {
	height: 28px;
	line-height: 45px;
	float: left;
	font-size: 14px;
}

.nav_4 .nav_2_1 a {
	float: right;
	line-height: 38px;
	margin-right: 16px;
}

.nav_4 .nav_4_1 {
	width: 270px;
	height: 360px;
	border: 1px solid #E5E5E5;
	float: left;
	margin: 0 10px 30px 0;
}

.nav_4 .nav_4_1 img {
	width: 100%;
}

.nav_4 .nav_4_12 {
	margin-right: 0;
}

.nav_4 .nav_4_1 span {
	display: block;
	width: 220px;
	height: 55px;
	margin: 0 auto;
	text-align: center;
	padding-top: 15px;
	overflow: hidden;
	color: #3E3A39;
}

.nav_4 .nav_4_1 font {
	display: block;
	width: 100%;
	color: #d92f00;
	margin-top: 10px;
	text-align: center;
}


/*app下载*/

.app {
	border: 1px solid #000;
	position: fixed;
	right: 65px;
	top: 300px;
	padding: 25px 20px 5px 25px;
}

.app .app1 {
	position: absolute;
	top: -15px;
	left: 10px;
	background-color: #ffffff;
	padding: 0 2px;
}

.app .app2 {
	width: 97px;
	height: 97px;
}

.app .app2 img {
	width: 100%;
	height: 100%;
}

/*添加收货地址*/
.address_administration{
    width: 910px;
    height:inherit;
    position: relative;
    min-height: 580px;
    margin-bottom: 50px;
}
.address_administration .join_address_top{
    width: 910px;
    /*height: 40px;*/
    padding: 0 10px;
    /*background: yellow;*/
    position: relative;
/*    border: 1px solid #c9c9c9;*/
}
.address_administration .join_address_top .address_text1{
    /*width:60%;*/
    height:inherit;
    /*background: pink;*/
    font-size: 16px;
    display: inline-block;
    padding: 10px 0 14px 0;
}
.address_administration .join_address_top .address_text2{
    height:inherit;
    /*background: blue;*/
    font-size: 16px;
    display: inline-block;
    padding: 10px 0 14px 0;
    float: right;
    color: #c11920;
    cursor: pointer;
    /*right:0;*/
    /*position: absolute;*/
}
.address_administration .address_content{
    width:inherit;
    min-height:50px;
    border: 1px solid #c9c9c9;
}
.address_administration .address_content .navigation{
    height:50px;
    background: #f2f2f2;
    color: #888888;
    /*background: pink;*/
}
.address_administration .address_content .navigation .user_name{
    width:190px;
    /*height:inherit;*/
    /*background: blue;*/
    font-size: 16px;
    text-align: center;
    line-height:50px;
    float: left;
}
.address_administration .address_content .navigation .user_phone{
    width:220px;
    /*height:inherit;*/
    /*background: lime;*/
    font-size: 16px;
    text-align: center;
    line-height:50px;
    float: left;
}
.address_administration .address_content .navigation .user_address{
    width:497px;
    /*height:inherit;*/
    /*background: deeppink;*/
    font-size: 16px;
    text-align: center;
    line-height:50px;
    float: left;
}
.address_administration .address_content .addressS{
}
.address_administration .address_content .addressS ul{
	padding-top: 0px;
}
.address_administration .address_content .addressS ul.list{
	padding-top: 20px;
}
.address_administration .address_content .addressS ul li{
    height: 100px;
    /*background: darkcyan;*/
   margin-bottom: 20px;
}
.address_administration .address_content .addressS ul li .addressS_text{
    width:inherit;
    /*padding: 0 50px 0 72px;*/
}
.address_administration .address_content .addressS ul li .addressS_text .addressS_txt1{
    height: 63px;
    /*background: red;*/

}
.address_administration .address_content .addressS ul li .addressS_text .addressS_txt1 .addressS_txt1_span1{
    width: 190px;
    line-height:43px;
    text-align: center;
    /*display: inline-block;*/
    float: left;
    /*background: lime;*/
    font-size: 16px;
}
.address_administration .address_content .addressS ul li .addressS_text .addressS_txt1 .addressS_txt1_span2{
    width: 220px;
    line-height:43px;
    text-align: center;
    display: inline-block;
    /*background: deeppink;*/
    font-size: 16px;
    float: left;
}
.address_administration .address_content .addressS ul li .addressS_text .addressS_txt1 .addressS_txt1_span3{
    width: 496px;
    line-height:43px;
    text-align: center;
    display: inline-block;
    /*background: yellow;*/
    font-size: 16px;
    float: left;
}
.address_administration .address_content .addressS ul li .addressS_txt{
    line-height:30px;
    float: right;
}
.address_administration .address_content .addressS ul li .addressS_txt a{
    margin-right: 50px;
    line-height:30px;
    font-size: 16px;
}
.address_administration .address_content .addressS ul li .addressS_txt .addressS_txt_a1{
    border: 2px #c11920 solid;
    border-radius: 5px;
    background: #ffffff;
    color: #c11920;
    padding: 5px 10px;
}

/*弹出层*/
/*.boy{
    overflow: hidden;
}*/
/*弹框*/
.zhezhao{
	display: none;
	position: fixed;
	left:0;
	top:0;
	right:0;
	bottom:0;
	background: rgba(0,0,0,.5);
}
.zhezhao_a{
	width: 700px;
	height: 400px;
	background-color: #FFFFFF;
	position: absolute;
	top:50%;
	left:50%;
	margin: -200px 0 0 -350px;
	border: 2px solid #E5E5E5;
}
.zhezhao_a_1{
	padding-top: 16px;
	position: relative;
	text-align: center;
	font-size: 18px;
}
.zhezhao_a_1 a {
	position: absolute;
	background: url("../images/删除按钮.png") no-repeat;
	width: 24px;
	height: 24px;
	top:10px;
	right: 10px;
}
.zhezhao_a_2{
	padding-left: 35px;
}
.zhezhao_a_2 div{
	margin-top: 20px;
}

.zhezhao_a_2 div input{
	width: 180px;
	line-height: 36px;
	height: 36px;
	border: 1px solid #c9c9c9;
}
.zhezhao_a_2 div input.zhezhao_a_2_inp1{
	margin-right: 65px;
}
.zhezhao_a_2 div span{
	font-size: 18px;
	margin-right: 10px;
}
.zhezhao_a_2 div .zhezhao_a_2_span{
	padding-left: 18px;
}
.zhezhao_a_2 div .zhezhao_a_2_sel{
	display: inline-block;
	width: 164px;
	margin-right: 10px;
	margin-top: 0;
	position: relative;
}
.zhezhao_a_2_sel .zhezhao_a_2_btn{
	margin-top: 0;
}
.zhezhao_a_2_sel .zhezhao_a_2_btn p{
	padding: 0 10px;
	border: 1px solid #c9c9c9;
	line-height: 36px;
	background: url(../images/DOWN.png) no-repeat;
	background-position: center right;
	background-position-x: 136px;
}

.zhezhao_a_2 div .zhezhao_a_2_sel ul{
	position: absolute;
	top: 36px;
	border: 1px solid #C9C9C9;
	border-bottom: none;
	width: 100%;
	display: none;
}
.zhezhao_a_2 div .zhezhao_a_2_sel ul li{
	width: 100%;
	height: 36px;
	line-height: 36px;
	text-align: center;
	background-color: #f2f2f2;
	border-bottom: 1px solid #C9C9C9;
	cursor: pointer;
}
.zhezhao_a_2 div .zhezhao_a_2_sel ul li.list_li{
	background-color: #C11920;
	color: #FFFFFF;
}
.zhezhao_a_2 div textarea{
	width: 520px;
	height: 90px;
	padding: 10px;
	border: 1px solid #C9C9C9;
}
.zhezhao_a_2 div .zhezhao_a_2_span1{
	position: relative;
	top: -75px;
}
.zhezhao_a_2 div .zhezhao_a_2_chk{
	width: 18px;
	height: 18px;
	position: relative;
	top: 3px;
}
.zhezhao_a_2 div .zhezhao_a_2_chkspan{
	color:#888888;
	padding-left: 10px;
}
.zhezhao_a_2 div a {
	display: inline-block;
	width: 160px;
	line-height: 40px;
	text-align: center;
	font-size: 18px;
	border-radius: 5px;
}
.zhezhao_a_2 div .zhezhao_a_2_a1{
	background-color: #C11920;
	color: #FFFFFF;
	margin-right:50px;
	margin-left: 121px;
}
.zhezhao_a_2 div .zhezhao_a_2_a2{
	background-color: #E5E5E5;
	border: 2px solid #c9c9c9;
	width: 156px;
	line-height: 36px;	
}

.boy{
	overflow: hidden;
}
