/*支付方式*/
.payment{
	width: 100%;
	padding-bottom: 50px;
	border: 1px solid #E5E5E5;
}
.payment .payment_a{
	border: 1px solid #E5E5E5;
	height: 50px;
	line-height: 50px;
	padding-left: 20px;
	font-size: 16px;
	background-color: #F2F2F2;
	margin-top: 20px;
}
.payment .payment_c{
	line-height: 60px;	
	height: 60px;
	border: 1px solid #E5E5E5;
	background-color: #F2F2F2;
}
.payment .payment_c button{
	width: 200px;
	height: 100%;
	border-style: none;
	background-color: #C11920;
	color: #FFFFFF;
	font-size: 24px;
}
.payment .payment_c p{
	font-size: 30px;
	margin-right: 60px;
}
.payment .payment_c p span{
	color: #C11920;
	margin-left: 10px;
}
.payment .payment_b{
	border-left: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
}
.payment .payment_b ul{
	padding-top: 50px;
}
.payment .payment_b ul li{
	float: left;
	margin-left: 70px;
	margin-bottom: 50px;
}
.payment .payment_b ul li a{
	display: inline-block;
	background-image: url(../images/shoppingcart_btn_select.png);
	background-repeat: no-repeat;
	width: 22px;
	height: 22px;
	margin-right: 30px;
	position: relative;
	top: 5px;
}
.payment .payment_b ul li a.payment_flag{
	background-image: url(../images/shoppingcart_btn_select_h.png);
}
/*底部*/

.nav_7 {
	width: 100%;
	margin-top: 48px;
}

.nav_7 ul {
	width: 1110px;
	margin: 0 auto;
}

.nav_7 ul li {
	height: 204px;
	float: left;
	width: 370px;
	border-right: 1px solid #E5E5E5;
}

.nav_7 ul .nav_7_1 {
	text-align: center;
}

.nav_7 ul .nav_7_1 span {
	font-size: 18px;
	display: block;
}

.nav_7 ul .nav_7_1 h3 {
	padding-top: 28px;
	font-size: 20px;
}

.nav_7 ul .nav_7_1 font {
	padding-top: 20px;
	display: block;
}

.nav_7 ul .nav_7_1 a {
	border: 1px #888888 solid;
	display: block;
	width: 100px;
	line-height: 30px;
	margin: 0 auto;
	margin-top: 36px;
	border-radius: 2px;
}

.nav_7 ul .nav_7_2 {
	text-align: center;
}

.nav_7 ul .nav_7_2 h3 {
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 18px;
}

.nav_7 ul .nav_7_2 font {
	width: 286px;
	margin: 0 auto;
	display: block;
	font-size: 16px;
	text-align: left;
	line-height: 24px;
}

.nav_7 ul .nav_7_3 {
	text-align: center;
	border-right: none;
}

.nav_7 ul .nav_7_3 span {
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 20px;
	display: block;
}

.nav_7 ul .nav_7_3 font {
	margin-top: 8px;
	display: block;
}

.footer {
	width: 100%;
	margin-top: 48px;
	background: #414141;
}

.footer .footer_a {
	border-bottom: 1px solid #888888;
}

.footer .footer_1 {
	height: 120px;
	background: #414141;
}

.footer .footer_1 ul {
	margin-left: 90px;
}

.footer .footer_1 ul li {
	margin-right: 190px;
	padding-top: 34px;
	float: left;
}

.footer .footer_1 ul li span {
	position: relative;
	top: 5px;
	font-size: 20px;
	color: #FFFFFF;
	margin-left: 16px;
}

.footer .footer_1 ul .footer_1_li {
	margin-right: 0;
}

.footer .footer_2 {
	width: 1110px;
	height: 80px;
	text-align: center;
	color: #fff;
	margin: 0 auto;
	position: relative;
	background: #414141;
}

.footer .footer_2 .footer_2_p1 {
	margin: 24px 0 10px 0;
}

.footer .footer_2 .footer_2_p1 a {
	padding: 38px 11px 12px 11px;
	color: #fff;
}

.footer .footer_2 .footer_2_p2 font {
	width: 100%;
}

.footer .footer_2 div {
	position: absolute;
	right: 230px;
	top: 3px;
}


/*头部*/

.header_0 {
	width: 100%;
	height: 30px;
	background: #3e3a39;
	position: relative;
	z-index: 999;
}

.header_1 {
	width: 1110px;
	height: 30px;
	margin: 0 auto;
	background: #3e3a39;
}

.header_1_1 {
	float: left;
	height: 30px;
}

.header_1_1 span {
	color: #FFFFFF;
	line-height: 30px;
}

.header_1_2 {
	float: right;
	height: 30px;
}

.header_1_2 a {
	color: #FFFFFF;
	line-height: 30px;
	padding-left: 26px;
}

.header_1_2 .header_1_2_a {
	position: relative;
}

.header_1_2 .header_1_2_a span {
	font-size: 12px;
	background: url("../images/oval_M.png") no-repeat;
	width: 12px;
	height: 12px;
	position: absolute;
	top: -2px;
	right: -2px;
	line-height: 12px;
	text-align: center;
}

.header_2 {
	width: 1110px;
	height: 116px;
	margin: 0 auto;
	position: relative;
	z-index: 999;
	background-color: #FFFFFF;
}

.header_2 .header_2_1 {
	width: 209px;
	height: 116px;
	margin-right: 60px;
	float: left;
}

.header_2 .header_2_1 .img1 {
	float: left;
	width: 209px;
	height: 76px;
	margin-top: 20px;
}

.header_2 .header_2_2 {
	width: 600px;
	height: 40px;
	float: left;
	margin-top: 56px;
}

.header_2 .header_2_2 .header_2_2_input {
	float: left;
	height: 40px;
}

.header_2 .header_2_2 .header_2_2_input input {
	width: 479px;
	height: 40px;
	border: 1px #c9c9c9 solid;
	border-right: none;
	float: left;
}

.header_2 .header_2_2 .header_2_2_input span {
	float: left;
	width: 120px;
	height: 40px;
	background: #c30d23;
	text-align: center;
	line-height: 40px;
	color: #fff;
	font-size: 20px;
	cursor: pointer;
}

.header_2 .header_2_2_cart {
	width: 135px;
	border: 1px #c9c9c9 solid;
	float: left;
	margin: 56px 0 0 50px;
	height: 40px;
	cursor: pointer;
}

.header_2 .header_2_2_cart img {
	width: 24px;
	float: left;
	margin: 8px 8px 0 6px;
}

.header_2 .header_2_2_cart span {
	float: left;
	line-height: 40px;
	font-size: 13px;
}

.header_2 .header_2_2_cart font {
	float: left;
	width: 16px;
	height: 16px;
	background: url(../images/oval_S.png);
	text-align: center;
	line-height: 16px;
	color: #fff;
	font-size: 12px;
	margin: 10px 0 0 6px;
}

.header_30 {
	width: 100%;
	height: 42px;
	background: #c30d23;
	margin: 0 auto;
	box-shadow: -2px 2px 4px rgba(0,0,0,.25);
}

.header_3 {
	width: 1110px;
	height: 42px;
	margin: 0 auto;
	background: #c30d23;
	padding-left: 36px;
	position: relative;
	z-index: 999;
}

.header_3 a {
	float: left;
	padding-right: 60px;
	line-height: 42px;
	color: #fff;
	font-size: 18px;
}

.header_3 .header_3_a img {
	position: relative;
	top: -2px;
}


/*导航的轮播图*/

.header_30 .show {
	position: absolute;
	width: 1110px;
/*	height: 160px;*/
	background: #fff;
	left:50%;
	margin-left: -555px;
	top: 28px;
	z-index: 100;
	overflow: hidden;
}
.header_30 .show ul{
	padding: 0 9px;
	width: 1000%;
	position: relative;
	left: 0;
}

.header_30 .show ul li {
	width: 140px;
	height: 140px;
	float: left;
	margin:10px 21px ;
	border-radius: 10px;
	overflow: hidden;
	cursor: pointer;
	position: relative;
}

.header_30 .show ul li img {
	width: 100%;
	height: 100%;
}

.header_30 .show ul li span{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 40px;
	background: rgba(0,0,0,.5);
	text-align: center;
	line-height: 40px;
	font-size: 24px;
	color: #FFFFFF;
}

.header_30 .show .show_div{
	/*position: absolute;
	top: 0;
	left: 0;*/
}
.header_30 .show .show_div a{
	position: absolute;
	height: 160px;
	width: 50px;	
	z-index: 990;
	margin-right: 0;
	top: 0;
}
.header_30 .show .show_div a.prev{
	background: url(../images/left1_1.png) no-repeat;
	left: 0;
}
.header_30 .show .show_div a.next{
	background: url(../images/right_1.png) no-repeat;
	right: 0;
}



/*猜你喜欢*/

.nav_4 .nav_2_1 {
	width: 1110px;
	margin: 20px auto;
}

.nav_4 .nav_2_1 span {
	font-weight: bold;
	margin-right: 10px;
	float: left;
	font-size: 24px;
}

.nav_4 .nav_2_1 font {
	height: 28px;
	line-height: 45px;
	float: left;
	font-size: 14px;
}

.nav_4 .nav_2_1 a {
	float: right;
	line-height: 38px;
	margin-right: 16px;
}

.nav_4 .nav_4_1 {
	width: 270px;
	height: 360px;
	border: 1px solid #E5E5E5;
	float: left;
	margin: 0 10px 30px 0;
}

.nav_4 .nav_4_1 img {
	width: 100%;
}

.nav_4 .nav_4_12 {
	margin-right: 0;
}

.nav_4 .nav_4_1 span {
	display: block;
	width: 220px;
	height: 55px;
	margin: 0 auto;
	text-align: center;
	padding-top: 15px;
	overflow: hidden;
	color: #3E3A39;
}

.nav_4 .nav_4_1 font {
	display: block;
	width: 100%;
	color: #d92f00;
	margin-top: 10px;
	text-align: center;
}


/*app下载*/
.app{
	background: url(../images/download.png) no-repeat;
	width: 150px;
	height: 150px;
	position: fixed;
	right: 50px;
	top: 300px;
}
.app a{
	position: absolute;
	background: url(../images/close1.png) no-repeat;
	width: 24px;
	height: 24px;
	top:-12px;
	right: -12px;
}
